.lib-button,
.lib-button-small,
.lib-button-wide {
	border-bottom: 2px solid #20559a;
	//border: 1px solid #4081af; 
	//border-bottom-color: #20559a;
	border-radius: 4px; 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	color: white;
	display: inline-block;
	font-family: Georgia, serif;
	font-weight:normal;
	text-decoration:none;
	cursor: pointer;

	&:hover, &:active, &:focus {}

	&.flat { box-shadow: none; }
}

.lib-button,
.lib-button-small,
.lib-button-wide {
	&.gradient--coral {
		border-bottom: 2px solid #8D311E;
	}

	&.gradient--orange {
		border-bottom: 2px solid #d17e11;
	}
}

.no-boxshadow {
	.lib-button,
	.lib-button-small,
	.lib-button-wide {
		border: 1px solid #4081af;
		border-bottom-color: #20559a;
	}
}

.lib-button-grey,
.lib-button-small-grey{
	background:#eee;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .2)), color-stop(100%,rgba(0, 0, 0, .2)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%,rgba(0, 0, 0, .2) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, .2) 0%,rgba(0, 0, 0, .2) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, .2) 0%,rgba(0, 0, 0, .2) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, .2) 0%,rgba(0, 0, 0, .2) 100%);
	border: 1px solid #aaa;border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-radius:.25em;color: #444;display: inline-block;font-weight:bold;text-decoration:none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);cursor: pointer;margin-bottom:1.25em;

}

.lib-button,
.lib-button-grey{padding:.5em 1.4em;font-size:1.3em;line-height:1.7em;}
.lib-button-small,
.lib-button-small-grey{ padding: .25em .75em;font-size:1em;line-height:1.3125em;}
.lib-button-wide { font-size: 1.2em; line-height: 1.3125em; padding: .333em 0; text-align:center;width: 100%;}

.lib-button-small.gradient--vertical,
.lib-button-small.gradient--vertical:hover  {
		color: white;
	}

span.buttons { display: block; }

@media only screen and (min-width: 48em) { 
	span.buttons { display: inline; }
}