.portlet { 

    margin-bottom: 1em;

    /* ==================
     * Portlet Header
     * ================== */
    .h2, .h3, .h4, .h5, .h6 { display: inline; }
}

.portlet > article {
    h3 { 
        line-height: 1;
        margin: .5em auto;
    }

    .excerpt {
       margin: 0;  
    }
}

.portlet.standout {
    background: transparent;
    color: white;

    &>div { 
        background: white; 

        &>ul { margin-top: 0; }
    }

    .icon-help {
        color: rgba($gray-dark, .7);
        cursor: pointer;
        font-size: 1em;
        margin-top: 2px;
        padding-right: .5em;
        @include css-transition(all, .5s, ease-out);

        &:hover, &:active, &:focus { 
            &:before { color: $blue-light; }
        }
   }

    header { 
        border-bottom: none; 
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #dce0f5;
        letter-spacing: 1px;
        padding-left: 1em;
    }

    .wrap {
        color: white;
        margin-top: -.8em;
        width: 98%;
    }

    li {
        
        border-bottom: 2px solid rgba($blue-light, .2);
        font-size: 1.125em;
        @include css-transition(all, .2s, ease-out);

        &:hover, &:active, &:focus {}
    }

    li:last-child {
        border-bottom: none;
    }

    li a {
        border-left: 6px solid rgba($blue-light, .2);
        color: #333;
        display: block;
        padding: 0 .5em;
        @include css-transition(all, .2s, ease-out);

        &:hover, &:active, &:focus, &.current-menu-item {
            border-left: 8px solid $blue-light;
            color: $blue-light;
        }

        &:before {
            color: $blue-light;
            top: 2px;
        }
    }
}

.no-rgba .portlet.standout {
    li {
        border-bottom: 2px solid #d5e8f2;
    }
    li a {
        border-left: 6px solid #d5e8f2;
    }
}

.community {
    padding-bottom: 1.7em;
    //margin-bottom: 4em;
}
.community a.academic, .community a.public {
    background: #5CACD3 url('textures/noise.png');
    color: white;
    font-size: 1.125em;
    width: 50%;
    text-align: center;

    &:hover {
        background: lighten(#5CACD3, 9%);
        color: white;
    }

    &:active, &:focus { color: white; }
}
.community > .academic { 
    float: left; 
    margin-left: 0;
}

/*.community {

    &:after {
        background: url('sprites/channels.png') no-repeat -4px -2px;
        content: "";
        height:44px;
        left: 0;
        position: absolute;
        width:268px;
        margin-top: 2em;
    }

}

.community.research {
    &:after {
        background: url('sprites/channels.png') no-repeat -294px -3px;
        width:223px;
        height: 51px;
    }
}

.community.recreation {
    &:after {
        background: url('sprites/channels.png') no-repeat -536px -2px;
        width: 252px;
        height: 44px;
        position: absolute;
        content: "";
        left: auto;
        right: 0;
    }
}
.community > .public.active ~ .community > .academic:after {
    background: none;

}*/
.public { float: right; }
.community a.active { background: lighten(#5CACD3, 9%); }
.community > .icon-library {
    color: white;
    left: 45%;
    font-size: 1.5em;
    position: absolute;
    margin-top: -2px;
}




.no-js .icon-help[data-info]:hover:after, 
.no-js .icon-help[data-info]:active:after, 
.no-js .icon-help[data-info]:focus:after {

    content: attr(data-info);
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;

}

/* ==================
 * Portlet Sub Menu
 * ================== */
 .js .portlet.widget_nav_menu header {
    cursor: pointer;
 }
 .js .widget_nav_menu > ul.menu:after { display: none; }
.js .portlet .menu.active {
    display: block;
}

.js .portlet .menu.inactive {
    display: none;
}


 /* ==================
 * Larger Mobile Devices
 * ================== */
//@media only screen and (min-width: 481px) {}

 /* ==================
  * Tablets and Small Laptops
  * ================== */
//@media only screen and (min-width: 768px) {}
/* ==================
 * Widescreen Monitors
 * ================== */
//@media only screen and (min-width: 1030px) {}

/* ==================
 * Large Viewing Size
 * ================== */
//@media only screen and (min-width: 1240px) {}

/* ==================
 * Retina, High PPI Screens
 * ================== 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {}
*/
/* ==================
 * Backward Compatibility
 * ================== */
/* ==================
 * Modernizr Dependent */
.portlet > h1:first-child, .portlet > h2:first-child, .portlet > h3:first-child {
    margin-top: 0;
}