/* ==================
 * $Colors 
 */

$soft-blue-base: 		#91CDEB;
$dark-blue-base:		#006699;

$light-blue-object:		#50AFDF;

$header-background:		$soft-blue-base;


/* ==================
 * $MEDIA-QUERY VARIABLES
 * Base font of 16px. */
$handheld: 30.062em; // 481px
$handheld-end: $handheld - .1em;
$snapscreen: 37.375em; // 16 base
$snapscreen-end: $snapscreen - .1em;
$tablet: 48em; // 678px
$squarescreen: 63.9375em; // 1024px
$widescreen: 64.375em; // 1030px+
$cinemascreen: 77.5em; // 1240px