.media {
	img, video, .fluid-embed-wrapper { max-width: 100%; width: 100%; height: auto; }
	ul { list-style-type: none; padding: 0; margin: 0;}

	.fluid-embed-wrapper {
		padding-top: 56.25%; // magic number that forces 16:9 ratio
		position: relative;
		width: 100%;

		iframe { 
			left: 0;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
} // universal rules that apply to all media

/* ==================
 * $Images - Thumbnails
 */
.thumbnail {
	border-radius: 4px;
	margin: 0;
	position: relative;

	img { vertical-align: bottom;} // Fixes gap below image.
}

.thumbnail--overlay {
	
	header {
		@include css-transition();
		background-color: rgba($dark-blue-base, .975);
		bottom: 0;
		left: 50%;
		right: 0;
		opacity: 0;
		overflow: hidden; 
		padding: .5em; 
		position: absolute;
		top: 0;

	}

	&:hover > header, &:focus > header, &:active > header {		
		opacity: 1;
	}

}

.thumbnail--gallery {

	a { 
		@include css-transition();
		opacity: .75; 
	}

	.caption {
		background-color: $dark-blue-base;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		color: white;
		display: inline-block;
		top: -1.6em;
		position: relative;
		text-align: center;
		width: 100%;
	}

	img { border-radius: 4px; }

	a:hover { opacity: 1; }
	a:hover img { box-shadow: 2px 4px 16px $dark-blue-base; }
}

.thumbnail--browser-frame {

	a {
		display: block;
		padding: 43px 8px 10px;
		position: relative;
		z-index: 1;

		&:before { // URL Bar
			border-radius: 2px;
			content: attr(data-title);
			display: block;
			height: 22px;
			left: 66px; 
			padding-left: .5em;
			position: absolute;
			right: 8px;
			top: 10px;
		}

		&:after { // Caption
			content: attr(data-caption);
			position: absolute;
			margin-top: -1em;
			opacity: 1;
			transition: all .2s ease-out;
			-webkit-transition: all .2s ease-out;
			z-index: -1;
		}
	}
	
	&:before, &:after { // The circles
		content: "";
		border-radius: 50%;
		display: block;
		height: 15px;
		left: 8px;
		position: absolute;
		top: 12px;
		width: 15px;
	}

	&:after { left: 32px; }

	&:hover {
		background-color: darken(white, 3%);

		&:before, &:after {
			border-color: darken($border-color-light, 3%);
		}

		a:after { // Caption
			margin-top: .75em; // magic number
			opacity: 1;
		}
	}
}

.contrast-against-dark {

	&.thumbnail {
		background-color: white;
		border: 1px solid $border-color-light;
	}

	&.thumbnail--browser-frame:before, 
	&.thumbnail--browser-frame:after { // The circles
		background-color: white;
		border: 1px solid $border-color-light;
	} 
	&.thumbnail--browser-frame a:before { // URL Bar
		background-color: white;
		border: 1px solid $border-color-light;
		color: #ddd;
	}
	&.thumbnail--browser-frame a:after { // Caption
		color: white;
	}

}
.contrast-against-white {}
