#ask-a-librarian { 
	background: $polaris-tropical-blue; 
	background: -webkit-gradient(linear, left bottom, left bottom, color-stop(.2, $blue-light), color-stop(1, $polaris-tropical-blue));
	background: -moz-linear-gradient(center bottom, $blue-light 20%, $polaris-tropical-blue 100%);
	//border-radius: 4px;
	color: white;

	header	{
		border-top-left-radius: 4px;
		border-top-right-radius:4px;
		padding: .25em 1em;
		color: #dce0f5;

		[class^="icon-"]:before, [class*=" icon-"]:before {
			margin-right: 1em;
		}		
	}

}

.ask-badge {
	
	[class^="icon-"]:before, [class*=" icon-"]:before {
		display: block;
		font-size: 2em;
		margin-bottom: .8em;
		margin-top: .2em;
		text-align: center;
	}

	@media only screen and (max-width: 47.9999em) {
		margin-bottom: -1em;
		padding-top: 1em;
		text-align: center;

		.twocol {
			display: inline-block;
			width: 15%;
		}
	}

	span {
		cursor: pointer;
		@include css-transition(all,.5s,ease-out);

		&:hover, &:active, &:focus {
			color: $polaris-blue-dark;
		}
	}

	span.active {
		color: $polaris-blue-dark;
	}

}

.ask-message a,
.ask-message [class^="icon-"]:before, 
.ask-message [class*=" icon-"]:before { color: $polaris-blue-dark;}