/* ==================
 * Geek the Library */
@font-face {
    font-family: 'Ashbury-LightRegular';
    src: url('fonts/AshburyLig-webfont.eot');
    src: url('fonts/AshburyLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AshburyLig-webfont.woff') format('woff'),
         url('fonts/AshburyLig-webfont.ttf') format('truetype'),
         url('fonts/AshburyLig-webfont.svg#Ashbury-LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$geek-pink: #f11440;

.geek-text {
    font-family: Ashbury-LightRegular, Georgia, serif;
    text-align: center;
    color: $gray-dark;
    line-height: 1;
    margin-top: 0;

    small { font-size: 60%; display: block; text-align: center;}
    a{
        color: $blue-dark !important;
    } 

    span { color: $blue-light; }

}