/* ==================
 * Local Icon Font
 * ================== */
@font-face {
    font-family: 'icomoon';
    src:url('http://sherman2.library.nova.edu/elib/assets/styles/css/fonts/icons/icomoon.eot');
    src:url('http://sherman2.library.nova.edu/elib/assets/styles/css/fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('http://sherman2.library.nova.edu/elib/assets/styles/css/fonts/icons/icomoon.woff') format('woff'),
        url('http://sherman2.library.nova.edu/elib/assets/styles/css/fonts/icons/icomoon.svg#icomoon') format('svg'),
        url('http://sherman2.library.nova.edu/elib/assets/styles/css/fonts/icons/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}