#footer.footer {
	background: $polaris-blue-light url('textures/noise.png');
	border-top: none;
	height: 100%;
	padding-bottom: 1em;

	.contact-ribbon {
		background: #21348a;
		box-shadow: 0 1px 10px #000;
		height: 60px;
		left: 0;
		position: relative;
		right: 0;
	}

	img { width: 100%; }

	.social-menu {
		font-size: 2em;
		margin-top: 12px;
	}

	.social-menu a { 
		color: $polaris-blue-light; 

		&:hover,
		&:active,
		&:focus {
			color: white;
		}
	}
}

