.public-gradient { background: #336d46 url('public-sprite.png') repeat-x left 100%; }

.HPD-gradient { background: #74a3ff url('alum-sprite.png') repeat-x left 100%; }   

.tinsley-gradient { background: #006699 url('sprites.gif') repeat-x left 100%; }

.UNS-gradient { background: #f5ab27 url('uns-sprite.png') repeat-x left 100%; }