* { 
	-moz-box-sizing: border-box;
		 box-sizing: border-box; 
}

/* ====================== *
 * Foundational Styles
 * ====================== */
/* ====================== *
 * Be considerate of very small screens. */

/* ==================
 * General Styles
 * ================== */
body {    
	background: rgba($polaris-tropical-blue, .1);
    color: $gray-dark;
    font-family: $sans-stack;
    line-height: 1.5;
}


/* ==================
 * Wordpress Body Classes
 * ================== */

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}              /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}            /* search result page */
	.search-no-results {}         /* no results search page */
	.search-paged-1 {}            /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                  /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}            /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}            /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}      /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}           /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}            /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}          /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                  /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}               /* replace the number to the corresponding page number */
.page-template-default, .single, .archive {		  /* default page template */
	
	article.page, article.post, .video_tinsleyfied {

		header h1 {
			line-height: 1;
			margin: 0;
		}

		.post-content h2, .post-content h3 {
			border-left: 3px solid $blue-light;
			margin-left: -.655em;
			padding-left: .655em;
		}

		.post-content h3 {
			margin-left: -1.1em;
			padding-left: 1.1em;
		}
	}

}

.typeplate {
	font-size: 18px; 

	.post {
		background: white;
		border-bottom: 5px solid rgba(145,205,235,.5);
		border-left: none;		
		margin: 1em auto;
		padding: 1em;

		&.format-link { border-bottom: 5px solid #ffae3d; }

	}
}

.no-rgba .page-template-default article.page {
	border-left: 3px solid #dceef5;
}

.page-template {}                 /* custom page template page */
	.page-template-page-php {}    /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}              /* replace the number to the corresponding page number */
	.page-parent {}               /* parent page template */
	.page-child {}                /* child page template */
	.parent-pageid-1 {}           /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                   /* individual paged (i.e. body.paged-3) */

/* ==================
 * Layout and Grid
 * ================== */

.wrap {
	width: 98%;
	margin: 0 auto;
}

/* ==================
 * Links
 * ================== */

a, a:visited { 

    color: $blue-dark;
    text-decoration: none;
    
    @include css-transition(all,.2s,ease-out);
    /* on hover */

    &:hover, &:focus {
       
       color: $blue-light;
    }
    
    /* on click */
    &:active { color: $blue-light; }
    
    /* mobile tap color */
    &:link {
        /* 
        this highlights links on iPhones/iPads. 
        so it basically works like the :hover selector
        for mobile devices.
        */ 
        -webkit-tap-highlight-color : rgba(0,0,0,0); 
    }
}

/* ==================
 * Badge
 * ================== */
.badge {

    margin-left: -12px; 
    margin-right: 1em;

    &:before {
        content: attr(data-badge);
        background: $coral url('textures/noise.png');
        border-radius: 10px;
        padding: 0 6px;
    }
}

a.button {
	color: #444;
	font-size: .8em;
	position: relative;
	@include css-transition(all,.2s,ease-out);

    &:hover, &:focus {
       
       color: $coral;
    }
    
    /* on click */
    &:active { color: $coral; }

	span:before {
		bottom: -14px;
		position: relative;
		font-size: 4em;
		line-height: 0;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {} /* post by id (i.e. post-3) */
		.post {		


			header h1 {
				line-height: 1;
				margin: 0;
			}

			.post-content h2, .post-content h3 {
				border-left: 3px solid $blue-light;
				margin-left: -.655em;
				padding-left: .655em;
			}

			.post-content h3 {
				margin-left: -1.1em;
				padding-left: 1.1em;
			}
			
		} /* general post style */
		.page {} /* general article on a page style */
		.attachment {} /* general style on an attatchment */
		.sticky {} /* sticky post style */
		.hentry {} /* hentry class */
		.category-slug {} /* style by category (i.e. category-videos) */
		.tag-slug {} /* style by tag (i.e. tag-news) */

		/* post meta */
		.meta {

			ul li { 
				display: inline-block;

				&.author { 
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					display: block; 
				}
			}

			time {}
		}

		/* post content */
		.post-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				list-style-type: disc;
				margin-left: 2em;

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

		} /* end .post-content */

		.wp-caption {
			padding: .5em;

			/* images inside wp-caption */
			img {
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				background: rgba(white, .6);
				margin: -28px 0 7px;
				position: relative;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
			padding-left: 24px;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {} /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {}
	.even {}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {
		clear: left;
		float: left;
		width: 60px;
	}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		//margin-left: 50px;

		cite.fn {
			font-size: .9em;
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			//position: absolute;
			//left: 10px;
			//padding: 2px;
			//border: 1px solid #cecece;
			//background: #fff;
			float: left;
			height: 100%;
			margin-right: 1em;
			width: 100%;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		background: $blue-light;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
				border-radius: 4px;
		color: white;
		margin: 0 0 1.5em 84px;
		padding: 1em;
		position: relative;

		&:after {
			border-color: transparent $blue-light;
			border-width: 10px 10px 10px 0;
			content: "";
			border-style: solid;
			bottom: auto;
			display: block;
			left: -10px;
			height: 0;
			position: absolute;
			top: 21px;
			width:0;
		}

		p {
			//margin: 0.7335em 0 1.5em;
			//font-size: 1em;
			//line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link, .comment-edit-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		margin-right: .5em;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	//margin: 1.5em 10px;
	//padding-bottom: 2.2em;

	form {
		//margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			//margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			//padding: 3px 6px;
			//background: #efefef;
			//border: 2px solid #cecece;
			//line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			//resize: none;
			//width: 97.3%;
			//height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {
		float: right;
		margin-top: -1.75em; // class is applied to <small> element

		a {
			color: white;
			text-decoration: underline;
		}
	}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

/* ==================
 * Search Widget, Portlet
 * ================== */

.search-widget {
	
	form { margin: 1em auto; }

	/* ==================
	 * Submit Button with Search Icon */
	 input[type="submit"] { font-family: icomoon; }

	 .limit {
	 	display: block; 
	 	margin-bottom: -.5em; 
	 	text-align: right; 

	 	span { 
	 		cursor: pointer;
	 		font-size: .8em;
	 		opacity: .7;
	 	}

	 	span.active {
	 		opacity: 1;

	 		&:before {
	 			color: $coral;
	 		}
	 	}

	 	span.hidden {
	 		opacity: 0;
	 	}
	 }

	.keyword-search { 
		text-align: center;

		.icon-help { float: none; }
	}

	label {
		color: $blue-dark;
		cursor: pointer;
		font-size: .8em;
		margin: auto .5em;
		opacity: .7;
		
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }

	}

	label.active {
		border-bottom: 2px solid #444;
		opacity: 1;
	}
	
	input[type=text] {
		width: 100%;
	}

	position: relative;
	z-index: 1;

	input[name="searchtype"], input[id="call-numbers"] {
		opacity: 0;
		position: absolute;
	}

	.call-numbers {

		display: none;
		
		@include css-transition(all, 1s, ease-out);
	}

	input[id="call-numbers"]:checked ~ .call-numbers { 
		
		display:block;

	 }

}

.search-actions {
	//background: $gray-dark url('textures/noise.png');
	background: white;
	box-shadow: 0 2px 2px 0 $gray-dark;
	//border-bottom-left-radius: 1em;
	//border-bottom-right-radius: 1em;
	height: 3em;
	position: relative;
	top: -3.3em;
	@include css-transition(all, .5s, ease-out);

	&:before {
		background: #91CDEB;
		color: rgba(#91CDEB, .2);
		content: "X";
		font-family: 'icomoon';
		font-size: 2em;
		height: 1.375em;
		margin-top: 4px;
		position: absolute;
		text-shadow: 1px 4px 6px #91CDEB, 0 0 0 #000, 1px 4px 6px #91CDEB;
	}

	ul {
		color: $gray-dark;
		line-height: 3.5;
		text-align: center;
	}

	li {
		cursor: pointer;
		display: inline;
		margin: 0 .5em;
		@include css-transition(all, .2s, ease-out);

		&:hover, &:active, &:focus {
			color: $blue-light;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	li.active { color: $blue-light; border-bottom: 2px solid lighten($blue-light, 15%); }
}
.search-options {
	background: none;
	border: none;
	color: $gray-dark;
	cursor: pointer;
	font-family: $serif;
	margin-top: -3.5em;
	

	&:hover, &:focus, &:active {
		.icon-search {
			color: $coral;
		}
	}

	.icon-search {
		@include css-transition(all, .5s, ease-out);
		font-size: 1.5em;
		top: .5em;
		margin-right: -.25em;
		position: relative;
	}
}

input[id="search-options"] {
	opacity: 0;
	position: absolute;
	visibility: hidden;
}

input[id="search-options"]:checked ~ div.search-actions, {
	top: -1.5em;
	//margin-bottom: 1.5em;
}

input[id="search-options"]:checked ~ .search-options {
	//margin-top: -1.5em;
}

.sidebar {}

	.widgettitle {
		border-bottom: none;
	}

	.widget {

		.textwidget {

			margin: 0 auto;
			width: 90%;
			list-style-type: disc;			

			li {

				z-index: 1;

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}
	}

/* ==================
 * Ultraspecific Hack. Bad Form. */
ul.menu.active ul.sub-menu li a { border-left: 3px solid rgba($blue-light, .2); }
ul.menu li ul.sub-menu li { width: auto; }


.widget_nav_menu {

	color: $gray-dark;

	&>header { margin-bottom: -.75em;}

	li { 
		border-left: none; display: block; &:hover { border-left:none; }
	}

	li.current-menu-parent > ul.sub-menu {
		display: block;
		position: relative;
	}
	li.current-menu-parent > a[href="#parent"]:after {
		content: "\4d";
	}

	/* ==================
	 * Parent Menu Item */
	a[href="#parent"]:after { // Presuming this is a drop-down link
		font-family: icomoon;
		color: rgba(81,175,223, .2);
		content: "o";
		float: right;
		padding-right: .5em;
	}

	a[href="#parent"]:hover:after { color: rgba(81,175,223, .5); }

	a[href="#parent"].active:after { color: $blue-light; content: "n"; }

	ul.sub-menu {

        [class^="icon-"]:before, [class*=" icon-"]:before {
            color: $blue-light;
            text-shadow: none;
        }

		li { border-left: none;

			&:last-child { border-bottom: none; }
		}
		li a { border-left: none;  }

		.wrap { 
			a { border-left: none; color: $gray-dark; padding-left: 0;}		
			.icon-phone { font-size: .9em; }	
		}
	}

	.sub-menu.hours li { border-bottom: none; }

	.sub-menu table {
		color: $gray-dark;
		font-size: .85em;
		margin-left: 1em;
		margin-bottom: 1em;
		width: 90%;
	}

	.sub-menu li .icon-help:before { margin-right: 0;}

}

.widget_advanced_menu header .widgettitle {
	&:before {
		content: "c ";
		color: $blue-light;
		font-family: icomoon;
		position: relative;
		text-rendering: auto;
		top: .15em; //mn
	}
}

.widget_nav_menu > ul {

	background: transparent; // override top-menu gradient
	box-shadow: none;

	li { 
		border-left: 6px solid rgba(81,175,223,.2);
		padding: .25em .5em;
		cursor: pointer;
		-webkit-transition: all .2s ease-out;
				transition: all .2s ease-out;

		&:first-child { border-left: 6px solid rgba(81,175,223, .2); padding-top:0;}
		&:last-child { padding-bottom: 0;}
		&:hover {
			border-left: 6px solid rgba(81,175,223,.5) !important;
			color: $blue-light;
		}

		a { 	
			color: $gray-dark;
			padding: 0; 

			&:hover, &:active { color: $gray-dark; }
		}
	}

	li.current-menu-item {
		border-left: 6px solid $blue-light;
	}
}

div.widget_nav_menu ul.sub-menu > li.menu-item { 
	//width: 90%; I don't remember why this was necessary
}

div.widget_nav_menu ul.sub-menu li {
	background: transparent;
	border-bottom: none;
	border-left: none;
	padding: 0;
	min-width: auto;

	&:hover, &:active { border-left: none !important; }

	a, a:hover {
		border-left: none !important; 
	}
}


/* ==================
 * Footer Styles
 * ================== */

.footer {
    background: $gray-dark url('textures/gray-noise.png');
    border-top: 3px solid $blue-light;
    color: white;
    //margin-top: 6em; // hacky
    @include box-shadow(inset 0 1px 3px 0 #222);

    a { 
        color: white; 
        @include css-transition(all, .2s, ease-out);

        &:hover,
        &:focus,
        &:active {
            color: $blue-light;
        }
    }  

    p.icon {
    	margin: 1em auto;
    }

    /*[class^="icon-"]:before, [class*=" icon-"]:before {
        color: rgba(#444444, 0.2);
     	font-size: 2em;
        position: relative;
        text-shadow: 1px 2px 6px #444, 0 0 0 #000, 1px 2px 6px #444;
    }*/
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.attribution {}

