@import "compass";
/******************************************************************
So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/

/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
@import 'core/_variables';
@import 'mixins';
@import 'grid';
@import "768up";
@import "1024up";
@import 'objects/_tooltips';

/* 
you can call the larger styles if you want, but there's really no need 
*/


/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/

body {
	font-size: 12px; 
}


.lt-ie9 {

	.utilities > .lib-button-small { display: none; }
	.tinsley-gradient { 
		background: #21348a; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(-45deg,  #21348a 1%, #3366cc 50%, #1fbaf2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#21348a), color-stop(50%,#3366cc), color-stop(100%,#1fbaf2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  #21348a 1%,#3366cc 50%,#1fbaf2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  #21348a 1%,#3366cc 50%,#1fbaf2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  #21348a 1%,#3366cc 50%,#1fbaf2 100%); /* IE10+ */
		background: linear-gradient(135deg,  #21348a 1%,#3366cc 50%,#1fbaf2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21348a', endColorstr='#1fbaf2',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	}

	.alert span.buttons { display: inline; }

	.menu > .menu-link { display: none; }
	.menu {
		font-size: 14px; 

		ul {

			display: block;

			li { display: inline-block; }
		}

		.sub-menu {
			position: absolute;
			z-index: 1;
			z-index: 1000;
		}
		.sub-menu li { 
			min-width: 15em;
			text-indent: 0;
		}

		.last .sub-menu li {
			min-width: 7em;
		} 
	}

	.widget_nav_menu { 
		color: #555 !important;
		font-size: inherit; 
		border-bottom: none;
		border-top: none;

		&>ul {
			background: white !important;
			filter: none !important;
		}

		&>ul li {

			border-bottom: 2px solid #666 !important;
		}

		&>ul li a {
			border-left: 3px solid #d5e8f2 !important;
			
		}
	}

	.widget_nav_menu .sub-menu li { min-width: auto; }
	.widget_nav_menu li a {
		display: block;
		margin: .25em auto;
	}
}

.no-boxshadow {}
.no-rgba {
	body {
		background: #edf6fb;
	}

	.inset {
		@include box-shadow(inset 0 0 2px 0 #444);
	}
}


.lt-ie8 {

	/* ==================
	 *  Layout Fixes
	 */

	.menu ul > li {

		ul.sub-menu { 
			position: relative; 
		}
	}



	/* ==================
	 * Layout Compromises
	 */
	 header .utilities { display: none; }

	/* ==================
	 * Fixes Background Colors
	 */
	 .gradient--rtl { background: #3366cc; }
	 .tinsley-gradient { background: #21348a; }
}	