/* ==================
 * Styles: Alvin Sherman [Public] Library
 * Author: Michael Schofield (www.ns4lib.com)
 * ================== */
/* ==================
 * CONTENTS
 * ================== */
/* ==================
 */

/* ==================
 * $UTILITIES
 * ================== */
 @import "compass";
 @import 'core/_normalize'; // v2.1.2  

 /* ==================
  * $Typeplate */
 @import 'core/typography/_vars-typeplate.scss'; // v1.1.0 
 @import 'core/typography/_typeplate.scss'; // v1.1.0 
 
/* ==================
 * $Variables */
@import 'core/_variables';

/* ==================
 * $Mixins */
@import '_mixins'; 
 //@import 'core/_gradients';
// @import 'core/_code';


/* ==================
 * $LAYOUT
 * ================== */
/* ==================
 * Header, Header Menu */
 @import 'layout/_grid';
 @import 'layout/_header';
 @import 'layout/_content';

 /* ==================
  * $OBJECTS
  * ================== */
  @import 'objects/_forms';
  @import 'objects/_menus';
  @import 'objects/_media';


/* ==================
 * Foundation
 * ================== */
/* ==================
 * Load here only the most basic styles.*/
 //@import 'base'; 

/* ==================
 * Larger Mobile Devices
 * ================== */
/* ==================
 * If needed, from here we can tweak for
 * phones or really small tablets. */
@media only screen and (min-width: 30.062em) {  
	//@import '481up'; 
} 

/* ==================
 * Tablets and Small Laptops
 * ================== */
/* ==================
 * From here on, these are really the more
 * common viewing windows. We can begin to 
 * work in more resource intensive styles */
@media only screen and (min-width: 48em) { 
	//@import '768up'; 
}

/* ==================
 * Small Monitors 
 * ================== */
@media only screen and (min-width: 63.9375em) {
	//@import '1024up';
	//@import 'objects/_tooltips'; 
}

/* ==================
 * Widescreen Monitors
 * ================== */
@media only screen and (min-width: 64.375em) { 
	//@import '1030up';
}

/* ==================
 * Large Viewing Size
 * ================== */
@media only screen and (min-width: 77.5em) { 
	//@import '1240up'; 
}

/* ==================
 * Retina, High PPI Screens
 * ================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) { 
       	//@import "2x"; 
   }

/* ==================
 * Print Stylesheet
 * ================== */
@media print { 
	* { 
		background: transparent !important; 
		color: black !important; 
		text-shadow: none !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	} 
	
	a, a:visited { 
		color: #444 !important; 
		text-decoration: underline; 
		
		/* show links on printed pages */
		&:after { 
			content: " (" attr(href) ")"; 
		}
		
		/* show title too */
		abbr[title]:after { 
			content: " (" attr(title) ")"; 
		}
	} 
	
	.ir a:after, 
	a[href^="javascript:"]:after, 
	a[href^="#"]:after { 
		content: ""; 
	} 
	
	pre, blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	} 
	
	thead { 
		display: table-header-group; 
	} 
	
	tr, img { 
		page-break-inside: avoid; 
	} 
	
	img { 
		max-width: 100% !important; 
	}
    
    @page { 
    	margin: 0.5cm;
    } 
    
    p, h2, h3 { 
    	orphans: 3; 
    	widows: 3; 
    } 
    
    h2, 
    h3 { 
    	page-break-after: avoid; 
    }
    
    /* hide content people who print don't need to see */
    .sidebar,
    .page-navigation, 
    .wp-prev-next,
    .respond-form,
    nav {
    	display: none;
    }
}