<!-- Ask a Librarian
======================
--> <section id="ask-a-librarian"></section>

<!-- Quick Menu
======================
--> <section class="portlet">
        <ul class="vertical-menu shadow">
        
        <header class="gradient--rtl">
              <span class="icon-grid-view" aria-hidden="true"></span>
              <span class="h3">Quick Menu</span>
        </header>

        <li>
            <a href="https://novacat.nova.edu/patroninfo" class="account" title="Library NovaCat Account">
                <span class="icon-users" aria-hidden="true"></span>
                My Library Account
            </a>
        </li>

        <li>
            <a href="http://nova.edu/library/main/hours.html" class="hours" title="Library Hours and Directions">
                <span class="icon-clock" aria-hidden="true"></span>
                See Library Hours
            </a>
        </li>

        <li>
            <a href="https://illiad.library.nova.edu/" class="loans" title="Interlibrary Loan and Document Delivery">
                <span class="icon-book" aria-hidden="true"></span>
                Interlibrary Loan 
                <small class="tagline">Document Delivery</small>
            </a>
        </li>

        <li>
            <a href="http://sherman.library.nova.edu/rooms" class="rooms" title="Alvin Sherman Library Study Rooms">
                <span class="icon-key" aria-hidden="true"></span>
                Reserve a Study Room
            </a>
        </li>

        <li>
            <a href="http://sherman.library.nova.edu/cof/" class="friends" title="Alvin Sherman Library Circle of Friends">
                <span class="icon-leaf" aria-hidden="true"></span>
                Circle of Friends
            </a>
        </li>

        </ul>    
    </section>

<!-- Library Card
======================
--> <section class="portlet">
        <a class="lib-button-wide tinsley-gradient" href="http://novacat.nova.edu/screens/selfregpick.html" title="Online Card Application">Get a Library Card</a>
    </section>
    
    <section class="portlet">
        <img src="http://sherman.library.nova.edu/cdn/styles/css/sprites/enews.png" width="100%">
        
        <ul class="infograph infograph--left">
            <li>
                The <b>best</b> way to stay informed.
            </li>
            <li> 
                <a href="http://systems.library.nova.edu/form/view.php?id=26" title="Sign up for the Library's monthly newsletter">
                    Sign up!
                </a>
                It's totally free.
            </li>

            <li> Read the <b><a class="icon-link" href="http://www.nova.edu/library/enews/enews-2013-09-01.html" title="August Newsletter"> September Issue</a></b> Online</li>
        </ul>

    </section>  