{% block scopedCSS %}

{{ "home" | asset_url | stylesheet_tag }}

{% endblock %}

{% block bodyClass %}<body class="page-template-default">{% endblock %}

{% block content %}

<div class="ninecol last">
	<article class="page clearfix">

			<p>
					<a href="#a">A</a> | <a href="#b">B</a> | <a href="#c">C</a> 
				  | <a href="#d">D</a> | <a href="#e">E</a> | <a href="#f">F</a> | <a href="#g">G</a> 
				  | <a href="#h">H</a> | <a href="#i">I</a> | <a href="#j">J</a> | <a href="#k">K</a> 
				  | <a href="#l">L</a> | <a href="#m">M</a> | <a href="#n">N</a> | <a href="#o">O</a> 
				  | <a href="#p">P</a> | <a href="#q">Q</a> | <a href="#r">R</a> | <a href="#s">S</a> 
				  | <a href="#t">T</a> | <a href="#u">U</a> | <a href="#v">V</a> | <a href="#w">W</a> 
				  | <a href="#x">X</a> | <a href="#y">Y</a> | <a href="#z">Z</a>
			</p>
			
		
			<h2 id="a">A</h2>		   
				<ul>
					<li><a href="techhelp.html">Adobe Reader</a></li>
					<li><a href="../help/misc/anscr.html">ANSCR: Alpha-Numeric System for Collections of Recordings</a></li>
					<li><a href="http://nova.campusguides.com/anthropology">Anthropology - Subject Guide</a></li>
					<li>APA  - How to Cite Sources: <a href="../dils/lessons/apa/index.htm"> 6th Edition</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../dils/lessons/apa/5th/howtocitesources.htm">5th Edition</a></li>
					<li><a href="http://nova.campusguides.com/art">Art - Subject guide</a></li>
					<li><a href="../dils/lessons/locatingarticles">Articles - Locating Articles</a> (Magazines,Journals &amp; Newspapers) </li>
					<li><a href="http://www.nova.edu/library/help/askalib.html">Ask a Librarian</a></li>
					<li><a href="http://nova.campusguides.com/exercise">Athletic Training and Sports Science - Subject guide</a></li>
				</ul>
			<a href="#top"></a>
			
			
			<h2 id="b">B</h2>
				<ul>
					<li><a href="http://nova.campusguides.com/biology">Biology &amp; Life Sciences - Subject guide</a></li>
					<li><a href="../serv/pls/bhm.html">Black History Month Resources</a></li>
					<li><a href="../dils/lessons/locatingbooks">Books - Locating Books and Other Items</a></li>
					<li><a href="techhelp.html">Browser plug-ins</a></li>
					<li><a href="techhelp.html">Browser settings: cache, cookies and java settings</a></li>
					<li><a href="http://nova.campusguides.com/business">Business (General) - Subject guide</a></li>
					<li><a href="http://nova.campusguides.com/sbelr">Business Resources</a></li>
				</ul>
			<a href="#top"></a>	
			
			<h2 id="c">C</h2>
				<ul>
					<li><a href="techhelp.html">Cached pages</a></li>
					<li><a href="../dils/lessons/cambridge">Cambridge Scientific Abstracts - Database tutorial</a></li>
					<li><a href="http://www.nova.edu/library/serv/collectiondev/cancellations.html">Cancelled Print Journal Subscriptions</a></li>
					<li><a href="http://nova.campusguides.com/careers">Careers</a> - Subject Guide</li>
					<li><a href="http://www.nova.edu/library/serv/circulation/checkrenew.html">Check out periods</a></li>
					<li><a href="http://nova.campusguides.com/chemistry">Chemistry - Subject Guide</a></li>
					<li><a href="styleguides/cite.html">Chicago Style - About Citations and Style Guides</a></li>            
					<li><a href="../dils/lessons/cinahl">CINAHL - Database tutorial</a></li>
					<li><a href="http://sherman.library.nova.edu/cof">Circle of Friends</a></li>         
					<li><a href="../dils/teachinghandouts/apa/APA_6th_ed.pdf">Citations - How to Cite Sources: APA Style  (PDF)</a></li>
					<li><a href="styleguides/cite.html">Citations - About Citations and Style Guides</a></li>
					<li><a href="../serv/pls/visit.html">Class Trips</a></li>          
					<li><a href="http://nova.campusguides.com/company">Company &amp; Industry Information -Subject guide</a></li>
					<li><a href="http://www.nova.edu/help/">Computer Help Desk</a> &nbsp;<span class="smallfont">(Office of Information Technology)</span></li>
					<li><a href="http://nova.campusguides.com/computerscience">Computer &amp; Information Science - Subject guide</a></li>      
					<li><a href="http://nova.campusguides.com/conflictresolution">Conflict Resolution/Peace Studies - Subject guide</a></li>
					<li><a href="techhelp.html">Cookies</a></li>
					<li><a href="../dils/lessons/plagiarism/index.htm">Copyright - Plagiarism &amp; Copyright</a></li>
					<li><a href="http://nova.campusguides.com/cat.php?cid=20747">Course Guides</a></li>
					<li><a href="../serv/circulation/reserve.html">Course Reserves</a></li>
					<li><a href="http://nova.campusguides.com/currentevents">Current Events- Subject guide</a></li>         
					<li><a href="../dils/criminaljustice.html" target="_blank">Criminal Justice Institute - Subject Guide</a>			
				</li></ul>
			<a href="#top"></a>
				
		
			<h2 id="d">D</h2>
				<ul>
					<li><a href="http://nova.campusguides.com/dance">Dance - Subject guide</a></li>
					<li><a href="../help/misc/teacherguides.html">Databases, Teacher resources for incorporating database use into the classroom</a> </li>
					<li><a href="../help/misc/dewey.html">Dewey Decimal Classification System</a></li>
					<li><a href="http://nova.campusguides.com/applied_diss">Dissertation - Applied Dissertation Resources</a></li>
					<li><a href="../help/styleguides/nsuguides.html">Dissertation Guides&nbsp;and Other Research and Writing Information</a></li>
					<li><a href="../dils/lessons/digitaldissertations">Dissertations and Theses Full Text - Database tutorial</a></li>
					<li><a href="../help/misc/dissertations.html">Dissertations - Locating and Obtaining Dissertations</a></li>
					<li><a href="../help/misc/dissertationsweb.html">Dissertations - Locating and Obtaining Dissertations - Websites</a></li>
					<li><a href="../dils/lessons/ericdissertations">Dissertations - Locating dissertations in ERIC</a> </li>
					<li><a href="../dils/lessons/nsumarps">Dissertations - MARPs, Practicums, and Applied Dissertations Tutorial</a></li>
					<li><a href="http://sherman.library.nova.edu/doi">DOI (Digital Object Identifier) Tools</a></li>          
					<li><a href="https://illiad.library.nova.edu/FNN/logon.html">Document Delivery/ILLiad</a></li>
				</ul>			
			<a href="#top"></a>
	
			<h2 id="e">E</h2>
				<ul>
					<li><a href="http://nova.campusguides.com/economics">Economics - Subject Guide</a></li>
					<li><a href="../dils/lessons/wilsonwebeducation">Education Full Text - Database tutorial</a></li>
					<li><a href="../dils/tutorials/education/">Education Resources </a></li>
					<li><a href="http://nova.campusguides.com/education/">Education - Subject Guide </a></li>
					<li><a href="../dils/educationtutorial.html">Education Tutorial</a></li>
					<li><a href="http://nova.campusguides.com/edutech">Educational/Instructional Technology - Subject guide</a></li>
					<li><a href="../dils/lessons/emerald/">Emerald - Database tutorial</a></li>
					<li><a href="../dils/tutorials/endnote/">EndNote - Tutorial</a></li>
					<li><a href="http://nova.campusguides.com/environment">Environmental Science - Subject guide</a></li>
					<li><a href="../dils/lessons/ericdissertations">ERIC, Locating dissertations in ERIC</a></li>
					<li><a href="../help/misc/evalweb.html">Evaluating Web Resources</a></li>
				</ul>
			<a href="#top"></a>
			
			
			<h2 id="f">F</h2>
				<ul>
					<li><a href="http://nova.campusguides.com/familytherapy">Family Therapy - Subject guide</a></li>
					<li><a href="../help/misc/fastbacks.html">Fastbacks - Locating and Obtaining Phi Delta Kappa Fastbacks</a></li>
					<li><a href="../serv/pls/visit.html">Field Trips</a></li>
					<li><a href="http://nova.campusguides.com/film">Film - Subject guide</a> </li>
					<li><a href="../help/findit.html">Find It!</a> (full text linking) </li>
					<li><a href="http://www.nova.edu/library/serv/circulation/checkrenew.html">Fines</a></li>
					<li><a href="../help/databaseguides/FirstSearchHelpSheet.pdf">FirstSearch - Database help sheet</a> (pdf)</li>
					<li><a href="http://www.oclc.org/support/documentation/firstsearch/using/refcard/default.htm">FirstSearch - Using OCLC FirstSearch</a> (from OCLC)</li>
					<li><a href="http://nova.campusguides.com/foundationsandgrants">Foundations and Grants Collection</a></li>
					<li><a href="../help/faqs.html">Frequently Asked Questions (FAQs)</a></li>				
				</ul>
			<a href="#top"></a>
			
			<h2 id="g">G</h2>
				<ul>
					<li><a href="http://nova.campusguides.com/genderstudies">Gender Studies - Subject guide</a>
					</li><li><a href="http://nova.campusguides.com/genealogy">Genealogy - Subject guide </a></li>
					<li><a href="../dils/lessons/generalbusinessfile/">General Business File ASAP - Database tutorial</a></li>
					<li><a href="http://nova.campusguides.com/cat.php?cid=30824&amp;gid=104">Geography - Subject guide</a></li>
					<li><a href="../help/misc/glossary.html">Glossary of Library &amp; Internet Terms</a></li>
					<li><a href="../dils/lessons/gpomonthly/">GPO Monthly Catalog - Database tutorial</a></li>
					<li>Grants - see <a href="http://nova.campusguides.com/foundationsandgrants">Foundations and Grants</a>			
				</li></ul>		
			<a href="#top"></a>
		
			<h2 id="h">H</h2>
				<ul>
					<li><a href="../dils/handbooks/">Handbook - Library Handbook</a></li>
					<li><a href="../dils/lessons/heinonline/">HeinOnline - Database tutorial</a></li>
					<li><a href="http://nova.campusguides.com/history">History, United States - Subject guide</a></li>
					<li><a href="http://nova.campusguides.com/worldhistory">History, World - Subject guide</a></li>
					<li><a href="../serv/circulation/hold.html">Holds on material</a></li>
					<li><a href="../help/misc/hurricanehelp.html">Hurricane Help</a> 				
				</li></ul>
			<a href="#top"></a>
			
			
			<h2 id="i">I</h2>
				<ul>
					<li><a href="http://www.nova.edu/library/dils/lessons/ieee/">IEEE Computer Society Digital Library - Database tutorial</a></li>
					<li><a href="../help/misc/info.html">Information - Finding information</a> (including information types &amp; sources)</li>
					<li><a href="../help/misc/glossary.html">Internet terminology - Glossary of Library &amp; Internet Terms</a></li>			
				</ul>
			<a href="#top"></a>
			
			
			<h2 id="j">J</h2>
				<ul>
					<li><a href="techhelp.html">JavaScript</a></li>
					<li>Job Hunting - see <a href="http://nova.campusguides.com/careers">Careers Subject Guide</a></li>
					<li>Journal Articles - see <a href="../dils/lessons/locatingarticles">Articles Locating Articles</a></li>
					<li><a href="../eleclib/journalsearch.html">Journal Finder</a></li>
					<li><a href="http://www.nova.edu/library/help/video/education/generaleddmod/genedpptmod6/gen_ed_ppt_mod6.htm">Journal Finder Tutorial</a></li>		
				</ul>
			<a href="#top"></a>
		
			<h2 id="k">K</h2>		
			<a href="#top"></a>
			
			<h2 id="l">L</h2>
				<ul>
				<li><a href="../help/subjectguides/literature_sp/">Latin American and Spanish Language Literature - Subject guide</a></li>
				<li><a href="../help/databaseguides/LearnATestHelpSheet.pdf">LearnATest - Help sheet</a> (pdf)</li>
				<li><a href="http://www.youtube.com/watch?v=hMdNkniUmBc&amp;feature=related">LexisNexis Academic - Database tutorial</a></li>
				<li><a href="http://novacat.nova.edu/screens/selfregpick.html">Library Card Application</a></li>
				<li><a href="http://nova.campusguides.com/index.php?gid=104">Library Guides</a></li>
				<li><a href="../dils/handbooks/">Library Handbook</a></li>
				<li><a href="../help/misc/glossary.html">Library jargon - Glossary of Library &amp; Internet Terms</a></li>
				<li><a href="../help/misc/libraryofcongress.html">Library of Congress Classification System</a></li>
				<li><a href="http://nova.campusguides.com/biology">Life Sciences and Biology - Subject guide</a> </li>
				<li><a href="../dils/lessons/llb/">Linguistics and Language Behavior - Database tutorial</a></li>
				<li>Link Resolver - <em>See</em> <a href="../help/findit.html">Find It!</a></li>
				<li><a href="http://nova.campusguides.com/literature">Literature - Subject guide</a> </li>
				<li><a href="../help/subjectguides/literature_sp/">Literature, Latin American and Spanish Language Literature - Subject guide</a></li>
				<li><a href="../dils/lessons/locatingarticles">Locating Articles</a> (Magazines,Journals &amp; Newspapers)</li>
				<li><a href="../dils/lessons/locatingbooks">Locating Books and Other Items</a></li>
				<li><a href="../help/misc/dissertations.html">Locating Dissertations</a></li>					
				</ul>		
			<a href="#top"></a>
			
			<h2 id="m">M</h2>
				<ul>
					<li>Magazine Articles - see <a href="../dils/lessons/locatingarticles">Articles - Locating Articles</a></li>
					<li><a href="../dils/lessons/nsumarps">MARPs, Practicums, and Applied Dissertations - Database tutorial</a></li>
					<li><a href="http://nova.campusguides.com/marine-biology">Marine Biology - Subject Guide</a></li>
					<li><a href="../help/misc/microform.html">Microform Documents </a></li>
					<li><a href="http://nova.campusguides.com/mla">MLA Style- About Citations and Style Guides</a></li>
				</ul>
			<a href="#top"></a>
		
			<h2 id="n">N</h2>
				<ul>
					<li><a href="../dils/lessons/netadvantage/">NetAdvantage- Database tutorial</a></li>
				    <li><a href="../help/databaseguides/NetAdvantageGlobalHelpSheet.pdf">NetAdvantage- Help sheet</a> (pdf)</li>
					<li><a href="../dils/lessons/netlibrary">NetLibrary - Database tutorial</a></li>
					<li><a href="../help/databaseguides/netLibraryHelpSheet.pdf">NetLibrary - Help  sheet</a> (pdf)</li>
					<li>Newspaper Articles - see <a href="../dils/lessons/locatingarticles">Articles - Locating Articles</a></li>
					<li><a href="../dils/lessons/novacat">NovaCat - Tutorial</a></li>
					<li><a href="../help/databaseguides/NovacatHelpSheet.pdf">NovaCat - Help sheet</a>(pdf)</li>
					<li><a href="../dils/lessons/nsumarps">NSU MARPs, Practicums, and Applied Dissertations - Tutorial</a></li>
				</ul>
			<a href="#top"></a>			
		
			<h2 id="o">O</h2>
				<ul>
					<li>OVID - Help documentation is being revised. Please <a href="askalib.html">contact a librarian</a> for assistance.</li>         
				</ul>
			<a href="#top"></a>
		
			<h2 id="p">P</h2>
				<ul>
					<li><a href="../help/misc/diff.html">Peer-reviewed journals</a></li>
					<li><a href="../help/misc/diff.html">Periodicals, Types of periodicals</a></li>
					<li><a href="../help/misc/fastbacks.html">Phi Delta Kappa Fastbacks - Locating and Obtaining Phi Delta Kappa Fastbacks</a>          </li>
					<li><a href="../help/subjectguides/PhilosophyReligionHelpSheet.pdf">Philosphy and Religion - Help sheet</a> (pdf)</li>
					<li><a href="../dils/lessons/plagiarism/index.htm">Plagiarism &amp; Copyright</a> </li>
					<li><a href="../dils/teachinghandouts/index.htm">Powerpoint presentations</a>as presented at library training sessions</li>
					<li><a href="../dils/lessons/thomson/">Powersearch, Thomson Gale Databases (Powersearch) - Tutorial </a></li>
					<li><a href="../dils/lessons/nsumarps">Practicums - MARPs, Practicums, and Applied Dissertations - Tutorial</a></li>
					<li><a href="../help/misc/diff.html">Primary sources, Distinguishing primary vs. secondary sources</a></li>
					<li><a href="../dils/lessons/proceedings/">ProceedingsFirst - Database tutorial</a></li>
					<li><a href="../help/databaseguides/ProjectMuseHelpSheet.pdf">Project Muse - Database help sheet</a> (pdf)</li>
					<li><a href="../help/databaseguides/ProquestHelpSheet.pdf">ProQuest - Database help sheet</a> (pdf)</li>
					<li><a href="http://training.proquest.com/index.html?learning/index.html">ProQuest - ProQuest Training Resource Center</a> (from ProQuest)</li>
					<li><a href="../dils/lessons/digitaldissertations">ProQuest Dissertations and Theses Full Text - Database tutorial</a></li>
					<li><a href="../dils/lessons/psycarticles/">PsycARTICLES - Database tutorial</a></li>
					<li><a href="../dils/tutorials/psychology/">Psychology - Research tutorial</a></li>
					<li><a href="http://nova.campusguides.com/psychology">Psychology - Subject guide</a></li>
					<li><a href="../help/subjectguides/psychopharm/">Psychopharmacology - Subject guide</a> </li>
					<li><a href="../dils/lessons/psycinfo/">PsycINFO - Database tutorial</a></li>
					<li><a href="http://nova.campusguides.com/pubadmin">Public Administration - Subject guide</a>			
				</li></ul>
			<a href="#top"></a>
			
			<h2 id="q">Q</h2>
				<ul>
					<li><a href="http://nova.campusguides.com/qual">Qualitative Research - Subject guide</a></li>
					<li><a href="http://nova.campusguides.com/quantitative">Quantitative Research - Subject guide</a></li>
				</ul>
			<a href="#top"></a>
		
			<h2 id="r">R</h2>
				<ul>
					<li><a href="../help/misc/diff.html">Refereed journals</a></li>
					<li><a href="../serv/circulation/checkrenew.html">Renewing material</a></li>
					<li><a href="../help/tutorials/basics.html">Research Basics - Tutorial</a></li>
					<li><a href="../dils/lessons/researchprocess">Research Process - Tutorial</a>
				</li></ul>
			<a href="#top"></a>
			
			<h2 id="s">S</h2>
				<ul>
					<li><a href="http://nova.campusguides.com/ScholarshipInformation">Scholarships - Subject guide</a></li>
					<li><a href="../help/misc/diff.html">Secondary sources, Distinguishing primary vs. secondary sources</a></li>
					<li><a href="../help/databaseguides/SSCI_CD.doc">Social Sciences Citation Index - Tutorial</a> (from ISI)          </li>
					<li><a href="http://nova.campusguides.com/sociology">Sociology - Subject guide</a></li>
					<li><a href="subjectguides/literature_sp/">Spanish Language Literature - Subject guide</a></li>
					<li><a href="../dils/tutorials/slp/">Speech Language Pathology - Research tutorial</a> </li>
					<li><a href="http://nova.campusguides.com/exercise">Sports Science and Athletic Training - Subject guide</a> </li>
					<li><a href="http://www.nova.edu/library/about/staff.html">Staff Directory</a></li>
					<li><a href="http://www.nova.edu/library/serv/circulation/studyrooms.html">Study Rooms</a></li>
					<li><a href="styleguides/styleguides.html">Style Guides</a></li>
					<li><a href="http://www.nova.edu/library/dils/teachinghandouts/apa/APA_6th_ed.pdf">Style Guides -  How to Cite Sources: APA Style  (PDF)</a></li>
					<li><a href="styleguides/cite.html">Style Guides - About Citations and Style Guides</a></li>
					<li><a href="http://nova.campusguides.com/index.php?gid=104">Subject Guides</a></li>
				</ul>
			<a href="#top"></a>
			
			<h2 id="t">T</h2>
				<ul>
					<li><a href="../help/misc/teacherguides.html">Teacher Resources for Incorporating Database Use into the Classroom</a> </li>
					<li><a href="../dils/teachinghandouts/index.htm">Teaching Handouts</a></li>
					<li><a href="../help/techhelp.html">Technology Checklist </a>(what you need to have for successful use of our site and database products) </li>
					<li><a href="http://nova.campusguides.com/teenhealthandwellness">Teen Health &amp; Wellness</a> - Database Library Guide </li>
					<li><a href="../help/testtraining.html">Test Preparation</a> </li>
					<li><a href="../help/databaseguides/TERCHelpSheet.pdf">Testing &amp; Education Reference Center - Help Sheet</a></li>
					<li><a href="../help/subjectguides/tests/tests.html">Tests and Measurements - Subject guide</a> </li>
					<li><a href="http://nova.campusguides.com/theatre">Theatre  - Subject guide</a></li>
					<li><a href="../dils/lessons/thomson/">Thomson Gale Databases (Powersearch) - Tutorial</a></li>
					<li><a href="../help/tutorials/">Tutorials</a></li>
				</ul>
			<a href="#top"></a>
			
			<h2 id="u">U</h2>
				<ul>
					<li><a href="../dils/lessons/ulrichs/">Ulrichs Periodicals Directory - Tutorial</a></li>
					<li><a href="http://nova.campusguides.com/history">United States History - Subject guide</a></li>
				</ul>
			<a href="#top"></a>
			
			<h2 id="v">V</h2>
			<a href="#top"></a>
			
			<h2 id="w">W</h2>
				<ul>
					<li><a href="../help/misc/evalweb.html">Websites - Evaluating Web Resources</a></li>
					<li><a href="../dils/lessons/wilsonweb">Wilson Web - Database tutorial</a></li>
					<li>Women's Studies - see <a href="subjectguides/genderstudies/">Gender Studies</a></li>
					<li><a href="http://nova.campusguides.com/worldhistory">World History - Subject guide</a></li>
					<li>Writing Help - <a href="../help/styleguides/nsuguides.html">Dissertation Guides&nbsp;and Other Research and Writing Information</a>       
				</li></ul>
			<a href="#top"></a>
			
			<h2 id="x">X</h2>
			<a href="#top"></a>
			
			<h2 id="y">Y</h2>
			<a href="#top"></a>
		
			<h2 id="z">Z</h2>
			<a href="#top"></a>
		
	</article>
</div>

<!-- Sidebar
======================
--> <div class="threecol first">
		{% include "sidebar" %}
	</div>

{% endblock %}

{% block breadcrumbs %}
<div class="bread-crumbs"> 
		<ul class="breadbox">
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="http://nova.edu/library/main" itemprop="url">
					<span itemprop="title">Alvin Sherman Library</span>
				</a>
				<span class="arrow"><span>&nbsp;</span></span>
			</li>

			
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="/a-z-help" title="A-Z Help Index">
					<span itemprop="title"> A-Z Help Index</span>
				</a><span class="arrow"><span>&nbsp;</span></span>
			</li>
			
		</ul><!--/.breadbox-->
	</div>
{% endblock %}

{% block scripts %}{% endblock %}