{% block title %}Alvin Sherman Library Staff and Departmental Directory{% endblock %}

{% block description %}A thorough staff and departmental directory--including extensions and emails--for the Alvin Sherman Library, Research, and Information Technology Center.{% endblock %}

{% block scopedCSS %}
{{ "home" | asset_url | stylesheet_tag }}

{% endblock %}

{% block bodyClass %}<body class="page-template-default">{% endblock %}

{% block content %}

<div class="ninecol last">
	<article class="page clearfix">
		<header>
			<h1>Staff Directory</h1>
		</header>

		<section class="post-content">
			<p>
				In the following staff directory, all employees are listed by department. If you are unsure of whom to contact please see <a href="/contact" title="Contact Information">Contact Information</a>. 
			</p>

			<form name="dept">
          <select name="link" size="1" onchange="if (document.dept.link.selectedIndex &gt; 0) location.href=(document.dept.link[document.dept.link.selectedIndex].value)" style="font-family: verdana,arial,sans-serif; font-size: 10px;">
            <option value="Find a Department" selected="selected">Find a Department:</option>
            <option value="#admin">Administration</option>
            <option value="#arch">Archives</option>
            <option value="#circ">Circulation</option>
            <option value="#coldev">Collection Development</option>
            <option value="#dils">Distance &amp; Instructional Library Serv.</option>
            <option value="#docdel">Document Delivery &amp; Interlibrary Loan</option>          
            <option value="#libdev">Library Development</option>
			<option value="#nmb">North Miami Beach Branch Library</option>
            <option value="#ocean">Oceanographic Center</option>           
            <option value="#pls">Public Library Services</option>
            <option value="#ref">Reference</option>
            <option value="#sys">Systems</option>
            <option value="#techserv">Technical Services</option>
          </select>
        </form>

	<!-- Administration
	======================
	-->	<a name="admin"></a><h2>Administration</h2>
		<div class="row">
		<div class="sixcol first">
		<!-- Department Heads
		======================
		--> <p class="h3">
				<strong>Acosta, Lydia </strong> <br>
				Vice President for Information Services and University Librarian <br>						
				<a href="tel:19542624640" title="Call"> (954) 262-4640</a> <br>
				<a href="mailto:lacosta@nsu.nova.edu" title="Email"> lacosta@nsu.nova.edu</a>
			</p>

			<p class="h3">
				<strong>
					<a href="http://nova.campusguides.com/profile.php?uid=29478" title="Read More">
						MacDougall, Harriett
					</a>
				</strong> <br>
				Executive Director, Alvin Sherman Library <br>
				<a href="tel:19542624606"> (954) 262-4606</a> <br>
				<a href="mailto:harriett@nsu.nova.edu"> harriett@nsu.nova.edu</a>
			</p>

			    
							    
				<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Angulo, Joanee				    					    		</strong> <br>

					<!-- Title
					======================
					--> Executive Assistant to the Vice President of the Alvin Sherman Library <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624578" title="Call this person's office phone"> (954) 262-4578</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:joanee@nsu.nova.edu" title="Send this person an email"> joanee@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Azpiri, Dina				    					    		</strong> <br>

					<!-- Title
					======================
					--> Manager of Library Business and Employee Services <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624546" title="Call this person's office phone"> (954) 262-4546</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:dinan@nsu.nova.edu" title="Send this person an email"> dinan@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Gordon, Douglas				    					    		</strong> <br>

					<!-- Title
					======================
					--> Mail Clerk <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624788" title="Call this person's office phone"> (954) 262-4788</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:gdouglas@nsu.nova.edu" title="Send this person an email"> gdouglas@nsu.nova.edu</a>

					</p>
		</div><!--/.sixcol-->

		<div class="sixcol last">

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Kmetzko, Mark				    					    		</strong> <br>

					<!-- Title
					======================
					--> kmetzko@nsu.nova.edu <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624612" title="Call this person's office phone"> (954) 262-4612</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:kmetzko@nsu.nova.edu" title="Send this person an email"> kmetzko@nsu.nova.edu</a>

					</p>

							    
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Simon, Jennifer				    					    		</strong> <br>

					<!-- Title
					======================
					--> Assistant to the Executive Director of the Alvin Sherman Library <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624545" title="Call this person's office phone"> (954) 262-4545</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:js2900@nsu.nova.edu" title="Send this person an email"> js2900@nsu.nova.edu</a>

					</p>

				<p class="h3">
						<strong>Administrative Offices</strong> <br>

					<!-- Phone #
					======================
					--> <a href="tel:19542624620" title="Call this person's office phone"> (954) 262-4620</a> <br>
					Fax: <a href="tel:19542623805" title="Call this person's office phone"> (954) 262-3805</a>

					</p>

					<p class="h3">
						<strong>Public Safety Desk and Lost and Found</strong> <br>
						<!-- Phone #
					======================
					--> <a href="tel:19542628993" title="Call this person's office phone"> (954) 262-8993</a>
					</p>
	
		</div><!--/.sixcol--></div>
		<!--/.row-->
		    			    
		<!-- Archives
		======================
		-->	
			<a name="arch"></a><h2>Archives</h2>
			<p>
				<a class="icon-link" href="http://nova.edu/archives/" target="new"> University Archives Website</a>
			</p>

		<div class="row">
			<div class="sixcol first">
				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Bogorff, Bob </strong> <br>
						Director, Archives <br>						
						<a href="tel:19542624641" title="Call"> (954) 262-4641</a> <br>
						<a href="mailto:bogorff@nsu.nova.edu" title="Email"> bogorff@nsu.nova.edu</a>
					</p>

			    
			
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Elios, Cathy				    					    		</strong> <br>

					<!-- Title
					======================
					--> Archivist Coordinator <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624642" title="Call this person's office phone"> (954) 262-4642</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:elios@nsu.nova.edu" title="Send this person an email"> elios@nsu.nova.edu</a>

					</p>
			</div><!--/.sixcol-->
			<div class="sixcol last">
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=29486" title="Peltier-Davis, Cheryl"> 
				    	   		Peltier-Davis, Cheryl				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> peltierd@nsu.nova.edu <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624635" title="Call this person's office phone"> (954) 262-4635</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:peltierd@nsu.nova.edu" title="Send this person an email"> peltierd@nsu.nova.edu</a>

					</p>
			</div><!--/.sixcol-->
		</div><!--/.row-->			    				
			    			    
			<!-- Circulation
			======================
			-->	
				<a name="circ"></a><h2>Circulation</h2>

				<div class="row">
				<div class="sixcol first">

				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Andreou, Constantinos </strong> <br>
						Director of Circulation <br>						
						<a href="tel:19542624682" title="Call"> (954) 262-4682</a> <br>
						<a href="mailto:constant@nsu.nova.edu" title="Email"> constant@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Gooden, Beverley</strong> <br>
						Assistant Director of Circulation <br>
						<a href="tel:19542624655" title="Call"> (954) 262-4655</a> <br>
						<a href="mailto:bgooden@nsu.nova.edu" title="Email">bgooden@nsu.nova.edu</a>
					</p>

			    
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
							Banigan, Caitlin
						</strong> <br>

					<!-- Title
					======================
					--> Senior Library Assistant (Desk Coordinator) <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624685" title="Call this person's office phone"> (954) 262-4685</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:cb1752@nova.edu" title="Send this person an email"> cb1752@nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Downey, Kathryn				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Assistant I <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624601" title="Call this person's office phone"> (954) 262-4601</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:kd822@nsu.nova.edu" title="Send this person an email"> kd822@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Durity, Marcia				    					    		</strong> <br>

					<!-- Title
					======================
					--> Collection Maintenance Coordinator <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624684" title="Call this person's office phone"> (954) 262-4684</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:duritym@nsu.nova.edu" title="Send this person an email"> duritym@nsu.nova.edu</a>

					</p>


							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Durland, Allison				    					    		</strong> <br>

					<!-- Title
					======================
					--> Desk Coordinator <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624667" title="Call this person's office phone"> (954) 262-4667</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:ad1129@nsu.nova.edu" title="Send this person an email"> ad1129@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Frabizio, Ryan				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Assistant <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624601" title="Call this person's office phone"> (954) 262-4601</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:frabizio@nsu.nova.edu" title="Send this person an email"> frabizio@nsu.nova.edu</a>

					</p>

					</div><!--/.sixcol--><div class="sixcol last">
							    
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Hellkamp, Daniel				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Assistant II <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624601" title="Call this person's office phone"> (954) 262-4601</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:" title="Send this person an email"> </a>

					</p>

		
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Leaty, Elizabeth				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Assistant II <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624601" title="Call this person's office phone"> (954) 262-4601</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:eleaty@nsu.nova.edu" title="Send this person an email"> eleaty@nsu.nova.edu</a>

					</p>

					<p class="h3">
						<strong>Pacheco, Diana</strong> <br>
						Library Assistant <br>
						<a href="tel:19542624601" title="Call this person's office extension">(954) 262-4601</a><br>
						<a href="mailto:dpacheco@nsu.nova.edu" title="Email this person">dpacheco@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Rodriguez, Tanja</strong><br>
						Library Assistant <br>
						<a href="tel:19542624601" title="Call this person's office extension">(954) 262-4601</a><br>
						<a href="mailto:trodriguez@nsu.nova.edu" title="Email this person">trodriguez@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Sager, Aaron</strong><br>
						Library Assistant <br>
						<a href="tel:19542624601" title="Call this person's office extension">(954) 262-4601</a><br>
						<a href="mailto:asager@nsu.nova.edu" title="Email this person">asager@nsu.nova.edu</a><br>
					</p>

					<p class="h3">
						<strong>Williams, Chassidy</strong><br>
						Collection Maintenace Coordinator <br>
						<a href="tel:19542624683" title="Call this person's office extension">(954) 262-4683</a> <br>
						<a href="mailto:chassidy@nsu.nova.edu" title="Email this person">chassidy@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Wires, Patricia</strong><br>
						Library Assistant <br>
						<a href="tel:19542624601" title="Call this person's office extension">(954) 262-4601</a><br>
						<a href="mailto:pwires@nsu.nova.edu" title="Email this person">pwires@nsu.nova.edu</a>
					</p>	

				</div><!--/.sixcol-->

			</div><!--/.row-->

							    				
			    			    
			<!-- Collection Development
			======================
			-->	
				<a name="coldev"></a><h2>Collection Development</h2>

				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Hemphill, Lia </strong> <br>
						Director of Collection Development <br>						
						<a href="tel:19542624633" title="Call"> (954) 262-4633</a> <br>
						<a href="mailto:lia@nsu.nova.edu" title="Email"> lia@nsu.nova.edu</a>
					</p>

			    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Garcia, Maria				    					    		</strong> <br>

					<!-- Title
					======================
					--> Administrative Coordinator II <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624542" title="Call this person's office phone"> (954) 262-4542</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mgarcia2" title="Send this person an email"> mgarcia2@nsu.nova.edu</a>

					</p>

							    
							    				
			    			    
			<!-- Dils
			======================
			-->	
				<a name="dils"></a><h2>Distance and Instructional Library Services (DILS)</h2>

				<div class="row">
					<div class="sixcol first">
	    
				<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=22001" title="Allsop, Stacy"> 
				    	   		Allsop, Stacy				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Distance and Instructional Services Librarian II <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624549" title="Call this person's office phone"> (954) 262-4549</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:allsop@nsu.nova.edu" title="Send this person an email"> allsop@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Harper, Dawn				    					    		</strong> <br>

					<!-- Title
					======================
					--> Distance and Instructional Services Librarian I <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624650" title="Call this person's office phone"> (954) 262-4650</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:dharper1@nsu.nova.edu" title="Send this person an email"> dharper1@nsu.nova.edu</a>

					</p>
				</div>
				<div class="sixcol last">

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=63266" title="Keba, Michelle"> 
				    	   		Keba, Michelle				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Distance and Instructional Services Librarian I <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624693" title="Call this person's office phone"> (954) 262-4693</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mkeba@nsu.nova.edu" title="Send this person an email"> mkeba@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Ramdial, Sandra				    					    		</strong> <br>

					<!-- Title
					======================
					--> Coordinator of Assessment <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625380" title="Call this person's office phone"> (954) 262-5380</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:sandra@nsu.nova.edu" title="Send this person an email"> sandra@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=74068" title="Ryckman, Brian"> 
				    	   		Ryckman, Brian				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Distance & Instructional Services Librarian I  <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624538" title="Call this person's office phone"> (954) 262-4538</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:bryckman@nova.edu" title="Send this person an email"> bryckman@nova.edu</a>

					</p>
				</div></div>
							    
							    				
			    			    
			<!-- Document Delivery and Interlibrary Loan
			======================
			-->	
				<a name="docdel"></a><h2>Document Delivery and Interlibrary Loan</h2>
				<div class="row">
					<div class="sixcol first">
				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Hutchens, Jim </strong> <br>
						Executive Director and Assistant University Librarian for Systems <br>						
						<a href="tel:19542624648" title="Call"> (954) 262-4648</a> <br>
						<a href="mailto:jamesh@nsu.nova.edu" title="Email"> jamesh@nsu.nova.edu</a>
					</p>

			    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Esquivel, Daniel				    					    		</strong> <br>

					<!-- Title
					======================
					--> Document Delivery Systems and Scanning Specialist <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624595" title="Call this person's office phone"> (954) 262-4595</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:esquivel@nsu.nova.edu" title="Send this person an email"> esquivel@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Gilkes, Yvette				    					    		</strong> <br>

					<!-- Title
					======================
					--> Coordinator of Distance Information Services <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624624" title="Call this person's office phone"> (954) 262-4624</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:soto@nsu.nova.edu" title="Send this person an email"> soto@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Gutierrez, Rosa				    					    		</strong> <br>

					<!-- Title
					======================
					--> Interlibrary Loan Manager <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624623" title="Call this person's office phone"> (954) 262-4623</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:rosag@nsu.nova.edu" title="Send this person an email"> rosag@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Hall, Dorothy				    					    		</strong> <br>

					<!-- Title
					======================
					--> Administrative Assistant <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624615" title="Call this person's office phone"> (954) 262-4615</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:dh878@nsu.nova.edu" title="Send this person an email"> dh878@nsu.nova.edu</a>

					</p>
				</div>
				<div class="sixcol last">

							    
							    
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Joshuas-McComisky, Thea				    					    		</strong> <br>

					<!-- Title
					======================
					--> Administrative Assistant  <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624660" title="Call this person's office phone"> (954) 262-4660</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mccomisk@nova.edu" title="Send this person an email"> mccomisk@nova.edu</a>

					</p>

								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Isaacs, Jennifer				    					    		</strong> <br>

					<!-- Title
					======================
					--> Information Technologist <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624618" title="Call this person's office phone"> (954) 262-4618</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:isaacsj@nsu.nova.edu" title="Send this person an email"> isaacsj@nsu.nova.edu</a>

					</p>					

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Lopez, Tanya				    					    		</strong> <br>

					<!-- Title
					======================
					--> Administrative Assistant <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624619" title="Call this person's office phone"> (954) 262-4619</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:tanyal@nsu.nova.edu" title="Send this person an email"> tanyal@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Zayas, Eddie				    					    		</strong> <br>

					<!-- Title
					======================
					--> Administrative Assistant <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624602" title="Call this person's office phone"> (954) 262-4602</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:ez63@nsu.nova.edu" title="Send this person an email"> ez63@nsu.nova.edu</a>

					</p>
				</div></div>

							    				
			    			    
			<!-- Library Marketing and Development
			======================
			-->	
				<a name="libdev"></a><h2>Library Marketing and Development</h2>

				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Silverstein, Marcia </strong> <br>
						Director of Community Relations and Marketing <br>						
						<a href="tel:19542624562" title="Call"> (954) 262-4562</a> <br>
						<a href="mailto:msilvers@nsu.nova.edu" title="Email"> msilvers@nsu.nova.edu</a>
					</p>

			    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Gallner, Jill				    					    		</strong> <br>

					<!-- Title
					======================
					--> Development Coordinator <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624593" title="Call this person's office phone"> (954) 262-4593</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:gallner@nsu.nova.edu" title="Send this person an email"> gallner@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		McBean, Joan				    					    		</strong> <br>

					<!-- Title
					======================
					--> Assistant to the Director <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624627" title="Call this person's office phone"> (954) 262-4627</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:jmcbean@nsu.nova.edu" title="Send this person an email"> jmcbean@nsu.nova.edu</a>

					</p>

							    
							    				
			    			    
			<!-- North Miami Beach Branch Library
			======================
			-->	
				<a name="nmb"></a><h2>North Miami Beach Branch Library</h2>

				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Ramirez, Laura </strong> <br>
						Director <br>						
						<a href="tel:19542628423" title="Call"> (954) 262-8423</a> <br>
						<a href="mailto:lucio@nsu.nova.edu" title="Email"> lucio@nsu.nova.edu</a>
					</p>

			    
							    				
			    			    
			<!-- Oceanographic Center Library
			======================
			-->	
				<a name="ocean"></a><h2>Oceanographic Center Library</h2>
				<a class="icon-link" href="http://nova.campusguides.com/oclibrary" title="new"> William S. Richardson Ocean Sciences Library</a>

			    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=26931" title="Goldman, Jaime"> 
				    	   		Goldman, Jaime				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference Librarian / Oceanography <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542623681" title="Call this person's office phone"> (954) 262-3681</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:hjaime@nsu.nova.edu" title="Send this person an email"> hjaime@nsu.nova.edu</a>

					</p>

					<p class="h3">
						<strong>Baker, Keri</strong> <br>
						Oceanography Librarian I <br>
						<a href="tel:19542623643" title="Call this person's office extension">(954) 262-3643</a> <br>
						<a href="mailto:kbaker1@nova.edu" title="Email this person">kbaker@nova.edu</a>
					</p>
							    				
			    			    
			<!-- Public Library Services
			======================
			-->	
				<a name="pls"></a><h2>Public Library Services</h2>

				<div class="row">
					<div class="sixcol first">
				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Leon, Anne </strong> <br>
						Executive Director of Public Library Services <br>						
						<a href="tel:19542624639" title="Call"> (954) 262-4639</a> <br>
						<a href="mailto:anneleon@nsu.nova.edu" title="Email"> anneleon@nsu.nova.edu</a>
					</p>


					<p class="h3">
						<strong>Acosta, Xiara</strong> <br>
						Library Assistant II
						<a href="tel:19542625468" title="Call this person's office extension">(954) 262-5468</a> <br>
						<a href="mailto:xacosta@nova.edu" title="Email this person">xacosta@nova.edu</a>
					</p>
			    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=29482" title="Albright, Meagan"> 
				    	   		Albright, Meagan				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Youth Services Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625469" title="Call this person's office phone"> (954) 262-5469</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:ameagan@nsu.nova.edu" title="Send this person an email"> ameagan@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Brice, Serena				    					    		</strong> <br>

					<!-- Title
					======================
					--> Public Services Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625465" title="Call this person's office phone"> (954) 262-5465</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:sb1660@nsu.nova.edu" title="Send this person an email"> sb1660@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Falvey, Sarah				    					    		</strong> <br>

					<!-- Title
					======================
					--> Coordinator of Public Library Services Operations <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624543" title="Call this person's office phone"> (954) 262-4543</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:sf787@nova.edu" title="Send this person an email"> sf787@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Fuller, Julie				    					    		</strong> <br>

					<!-- Title
					======================
					--> Young Adult Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625471" title="Call this person's office phone"> (954) 262-5471</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:jfuller@nsu.nova.edu" title="Send this person an email"> jfuller@nsu.nova.edu</a>

					</p>


							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Harris, LeThesha				    					    		</strong> <br>

					<!-- Title
					======================
					--> Audiovisual / Adult Services Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625476" title="Call this person's office phone"> (954) 262-5476</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:lethesha@nsu.nova.edu" title="Send this person an email"> lethesha@nsu.nova.edu</a>

					</p>

					

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile/rebeccahickman" title="Hickman, Rebecca"> 
				    	   		Hickman, Rebecca				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Youth Services Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625470" title="Call this person's office phone"> (954) 262-5470</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:swensen@nsu.nova.edu" title="Send this person an email"> swensen@nsu.nova.edu</a>

					</p>

				</div>
				<div class="sixcol last">					

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=29481" title="Kidd, Kimberli"> 
				    	   		Kidd, Kimberli				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Adult Services Programming Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625475" title="Call this person's office phone"> (954) 262-5475</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:kkidd@nsu.nova.edu" title="Send this person an email"> kkidd@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=51874" title="Knott, Kristina"> 
				    	   		Knott, Kristina				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Youth Services Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625472" title="Call this person's office phone"> (954) 262-5472</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:kknott@nsu.nova.edu" title="Send this person an email"> kknott@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Labuda, Katharine				    					    		</strong> <br>

					<!-- Title
					======================
					--> Youth Services Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625464" title="Call this person's office phone"> (954) 262-5464</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:klabuda@nsu.nova.edu" title="Send this person an email"> klabuda@nsu.nova.edu</a>

					</p>

					<p class="h3">
						<strong>Montero, Alex</strong> <br>
						Library Assistant II <br>
						<a href="tel:19542625468" title="Send this person an email">(954) 262-5468</a><br>
						<a href="mailto:amontero@nova.edu">amontero@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Taylor, Elaine</strong> <br>
						Adult Services Librarian <br>
						<a href="tel:19542625473" title="Call this person's office Phone">(954) 262-5473</a><br>
						<a href="mailto:elainet@nsu.nova.edu" title="Send this person an email">elainet@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Tuell, Cheryl</strong><br>
						Library Assistant II <br>
						<a href="tel:19542625464" title="Call this person's office extension">(954) 262-5464</a><br>
						<a href="mailto:ctuell@nsu.nova.edu" title="Email this person">ctuell@nsu.nova.edu</a><br>

					</p>
					</div></div>
							    
							    				
			    			    
			<!-- Reference
			======================
			-->	
				<a name="ref"></a><h2>Reference</h2>

				<div class="row">
					<div class="sixcol first">

				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Quinlan, Nora </strong> <br>
						Director of Reference <br>						
						<a href="tel:19542624637" title="Call"> (954) 262-4637</a> <br>
						<a href="mailto:nora@nsu.nova.edu" title="Email"> nora@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Soltau, Elena</strong> <br>
						Assistant Director of Reference <br>
						<a href="tel:19542624657" title="Call"> (954) 262-4657</a> <br>
						<a href="mailto:soltau@nsu.nova.edu" title="Email">soltau@nsu.nova.edu</a>
					</p>

			    	
			    	<p class="h3">
			    		<strong>
			    			Betancourt, Jodi
			    		</strong> <br>
			    		Administrative Assistant <br>
			    		<a href="tel:19542624645" title="Call this person's office extension">(954) 262-4645</a> <br>
			    		<a href="mailto:jbetancourt@nova.edu" title="Email">jbetancourt@nova.edu</a> <br>
			    	</p>
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=24922" title="Buckley, Matthew"> 
				    	   		Buckley, Matthew				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference / Subject Specialist Librarian for Arts and Humanities <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624548" title="Call this person's office phone"> (954) 262-4548</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mbuckley@nsu.nova.edu" title="Send this person an email"> mbuckley@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=21999" title="Cisse, Sarah"> 
				    	   		Cisse, Sarah				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624649" title="Call this person's office phone"> (954) 262-4649</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:sc1169@nsu.nova.edu" title="Send this person an email"> sc1169@nsu.nova.edu</a>

					</p>

					<!-- Regular Employee
					======================
					--> <p class="h3">
							<strong>
								George, Allison
							</strong> <br>

							Reference Librarian I <br>
							<a href="tel:19542624666" title="Call this person's office phone">(954) 262-4666</a> <br>
							<a href="mailto:ageorge@nova.edu" title="Send this person an email"> ageorge@nsu.nova.edu</a>
						</p>


				</div>

				<div class="sixcol last">						

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile/melissajohnson" title="Johnson, Melissa"> 
				    	   		Johnson, Melissa				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference/Subject Specialist for Social Sciences <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624577" title="Call this person's office phone"> (954) 262-4577</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mj774@nsu.nova.edu" title="Send this person an email"> mj774@nsu.nova.edu</a>

					</p>
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=26096" title="Llewellyn, Richard"> 
				    	   		Llewellyn, Richard				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference/Subject Specialist Librarian for Science and Technology <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624576" title="Call this person's office phone"> (954) 262-4576</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:rllewell@nsu.nova.edu" title="Send this person an email"> rllewell@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile/trishap" title="Prevett, Trisha"> 
				    	   		Prevett, Trisha				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference Librarian I <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624575" title="Call this person's office phone"> (954) 262-4575</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:tprevett@nsu.nova.edu" title="Send this person an email"> tprevett@nsu.nova.edu</a>

					</p>

							    
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=22003" title="Segno, Jamie"> 
				    	   		Segno, Jamie				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference/ Outreach Librarian II <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542625484" title="Call this person's office phone"> (954) 262-5484</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:js1830@nsu.nova.edu" title="Send this person an email"> js1830@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=26312" title="Sidberry, Greg"> 
				    	   		Sidberry, Greg				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Reference Outreach Instructional Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624580" title="Call this person's office phone"> (954) 262-4580</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:sidberry@nsu.nova.edu" title="Send this person an email"> sidberry@nsu.nova.edu</a>

					</p>

					<!-- Title
					======================
					--> Reference/Subject Specialist Librarian for Business <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624573" title="Call this person's office phone"> (954) 262-4573</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:jz190@nsu.nova.edu" title="Send this person an email"> jz190@nsu.nova.edu</a>

					</p></div></div>

							    				
			    			    
			<!-- Systems
			======================
			-->	
				<a name="sys"></a><h2>Systems</h2>
				<div class="row">

					<div class="sixcol first">
				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Hutchens, Jim </strong> <br>
						Executive Director and Assistant University Librarian for Systems <br>						
						<a href="tel:19542624648" title="Call"> (954) 262-4648</a> <br>
						<a href="mailto:jamesh@nsu.nova.edu" title="Email"> jamesh@nsu.nova.edu</a>
					</p>

					<p class="h3">
						<strong>Chayanuwat, Piya</strong> <br>
						Director of Library Computing Services <br>
						<a href="tel:19542624696" title="Call">(954) 262-4696</a> <br>
						<a href="mailto:piya@nsu.nova.edu" title="Email">piya@nsu.nova.edu</a>
					</p>

			    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Batson-George, Arlene				    					    		</strong> <br>

					<!-- Title
					======================
					--> Electronic Resources Librarian II <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624616" title="Call this person's office phone"> (954) 262-4616</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:batsonge@nsu.nova.edu" title="Send this person an email"> batsonge@nsu.nova.edu</a>

					</p>
							    
							    
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Ortiz, David				    					    		</strong> <br>

					<!-- Title
					======================
					--> Information Technology Specialist II = <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624603" title="Call this person's office phone"> (954) 262-4603</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:do193@nova.edu" title="Send this person an email"> do193@nova.edu</a>

					</p>

					</div>
					<div class="sixcol last">

					<p class="h3">
						<strong>Pathan, Jamal</strong> <br>
						Integrated Systems Librarian <br>
						<a href="tel:19542624694" title="Call this person's office extension">(954) 262-4694</a> <br>
						<a href="mailto:jpathan@nova.edu" title="Email this person">jpathan@nova.edu</a>
					</p>
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Schofield, Michael				    					    		</strong> <br>

					<!-- Title
					======================
					--> Web Services Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624536" title="Call this person's office phone"> (954) 262-4536</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mschofield@nsu.nova.edu" title="Send this person an email"> mschofield@nsu.nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Vempala, John				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Systems Administrator  <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624695" title="Call this person's office phone"> (954) 262-4695</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:vempala@nsu.nova.edu" title="Send this person an email"> vempala@nsu.nova.edu</a>

					</p>

					<p class="h3">
						<strong>Walters, Glori</strong> <br>
						Administrative Coordinator for Library Systems <br>
						<a href="tel:19542624539" title="Call this person's office extension">(954) 262-4539</a> <br>
						<a href="mailto:glorimar@nsu.nova.edu" title="Email this person">glorimar@nsu.nova.edu</a>
					</p>

				</div></div>

							    				
			    			    
			<!-- Technical Services
			======================
			-->	
				<a name="techserv"></a><h2>Technical Services</h2>
				<div class="row">
					<div class="sixcol first">
				<!-- Department Heads
				======================
				--> <p class="h3">
						<strong>Grando, Natasha </strong> <br>
						Director of Technical Services <br>						
						<a href="tel:19542624665" title="Call"> (954) 262-4665</a> <br>
						<a href="mailto:ngrando@nsu.nova.edu" title="Email"> ngrando@nova.edu</a>
					</p>

			    
					<p class="h3">
						<strong>Carfi, Melina</strong> <br>
						Library ASsistant - Cataloging <br>
						<a href="tel:19542624634" title="Call this person's office extension">(954) 262-4634</a> <br>
						<a href="mailto:mc2505@nova.edu" title="Email this person">mc2505@nova.edu</a>
					</p>
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Carter, Megan				    					    		</strong> <br>

					<!-- Title
					======================
					--> Assistant to the Director, Technical Services <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624631" title="Call this person's office phone"> (954) 262-4631</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mcarter@nova.edu" title="Send this person an email"> mcarter@nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Copnick, Andrew				    					    		</strong> <br>

					<!-- Title
					======================
					--> Acquisitions Librarian <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624662" title="Call this person's office phone"> (954) 262-4662</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:copnick@nsu.nova.edu" title="Send this person an email"> copnick@nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    	   	<a href="http://nova.campusguides.com/profile.php?uid=29490" title="Dunleavy, Kathleen"> 
				    	   		Dunleavy, Kathleen				    	   	</a>
				    					    		</strong> <br>

					<!-- Title
					======================
					--> Print and Audiovisual Cataloging Librarian III <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:1954262469" title="Call this person's office phone"> (954) 262-4609</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:kathleen@nsu.nova.edu" title="Send this person an email"> kathleen@nova.edu</a>

					</p>

							    
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Kolachapati, Neetika				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Database Technician <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624572" title="Call this person's office phone"> (954) 262-4572</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:rajbhand@nova.edu" title="Send this person an email"> rajbhand@nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
							Lee, Jihye
						</strong> <br>

					<!-- Title
					======================
					--> Electronic Cataloging Librarian I <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624605" title="Call this person's office phone"> (954) 262-4605</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:jlee1@nova.edu" title="Send this person an email"> jlee1@nova.edu</a>

					</p>

					</div>
					<div class="sixcol last">
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Madison, Peggy				    					    		</strong> <br>

					<!-- Title
					======================
					--> Senior Library Assistant - Serials <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624537" title="Call this person's office phone"> (954) 262-4537</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:mm482@nova.edu" title="Send this person an email"> mm482@nova.edu</a>

					</p>

							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Miadzel, Viasha				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Assistant - Serials <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624638" title="Call this person's office phone"> (954) 262-4638</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:wieslawa@nsu.nova.edu" title="Send this person an email"> wieslawa@nova.edu</a>

					</p>

					<p class="h3">
						<strong>Muir, Roxanne</strong> <br>
						Library ASsistant - Cataloging <br>
						<a href="tel:19542624630" title="Call this person's office extension">(954) 262-4630</a> <br>
						<a href="mailto:roxcap@nova.edu" title="Email this person">roxcap@nova.edu</a>
					</p>
							    
								<!-- Regular Employee
				======================
				--> <p class="h3">
						<strong>
											    		Negron, Frances				    					    		</strong> <br>

					<!-- Title
					======================
					--> Library Assistant - Acquisitions  <br>
					
					<!-- Phone #
					======================
					--> <a href="tel:19542624661" title="Call this person's office phone"> (954) 262-4661</a> <br>

					<!-- Email
					======================
					--> <a href="mailto:fn56@nsu.nova.edu" title="Send this person an email"> fn56@nova.edu</a>

					</p>

					<p class="h3">
						<strong>Perry, Rachel</strong> <br>
						Technical Services Librarian <br>
						<a href="tel:19542624663" title="Call this person's office phone">(954) 262-4663</a> <br>
						<a href="mailto:rperry@nova.edu" title="Send this person an email">rperry@nova.edu</a>
					</p>

					<p class="h3">
						<strong>Porfiris, Shannon D.</strong> <br>
						Library Assistant <br>
						<a href="tel:19542624664" title="Call this person's office phone">(965) 262-4664</a> <br>
						<a href="mailto:porfiris@nova.edu" title="Send this person an email">porfiris@nova.edu</a>
					</p>



				</div></div>

							    				
			    			    
		</section>

	</article>
</div>

<!-- Sidebar
======================
--> <div class="threecol first">
		{% include "sidebar" %}
	</div>

{% endblock %}

{% block breadcrumbs %}
<div class="bread-crumbs"> 
		<ul class="breadbox">
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="http://nova.edu/library/main" itemprop="url">
					<span itemprop="title">Alvin Sherman Library</span>
				</a>
				<span class="arrow"><span>&nbsp;</span></span>
			</li>

			
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="/directory" title="Staff Directory">
					<span itemprop="title"> Staff Directory</span>
				</a><span class="arrow"><span>&nbsp;</span></span>
			</li>
			
		</ul><!--/.breadbox-->
	</div>
{% endblock %}

{% block scripts %}{% endblock %}