{% block scopedCSS %}

{{ "home" | asset_url | stylesheet_tag }}

{% endblock %}

{% block bodyClass %}<body class="page-template-default">{% endblock %}

{% block content %}

<div class="ninecol last">
	<article class="page clearfix">
		<header>
			<h1>Resources for Faculty and Staff</h1>
		</header>

		<div class="sixcol first">
			<h2>Getting Started</h2>
			<ul>
				<li><a href="http://nova.edu/library/main/directory.html">Library staff directory</a></li> 
				<li><a href="http://sherman.library.nova.edu/sites/services/electronic-course-reserves-ecr">Electronic Resources</a> </li>
				<li>Your <a href="http://sherman.library.nova.edu/sites/services/circulation">borrowing privileges</a> as a staff or faculty member of NSU </li>
			</ul>			

			<h2>Doing Research</h2>
			<ul>
				<li><a href="http://0-auth.novasoutheastern.org.novacat.nova.edu/go/redirect.php?aid=879">The Chronicle of Higher Education</a> (University Subscription for NSU community only)</li>
				<li>Library Catalogs			
					<ul>
						<li><a href="http://novacat.nova.edu/screens/opacmenu.html"> NovaCat,</a> NSU'sonline catalog</li>
						<li><a href="http://www.flelibrary.org/">Florida Electronic Library</a></li>
						<li><a href="http://firstsearch.oclc.org/WebZ/FSPrefs?entityjsdetect=:javascript=true:screensize=large:sessionid=fsapp5-43408-gnx9piq0-qvafvp:entitypagenum=1:0">Florida
						  Group Catalog</a>, search over 100 public and academic libraries in Florida </li>
						<li><a href="../eleclib/othercatalogs.html">Other Library Catalogs</a></li>
					</ul>
				</li>
				<li><a href="http://sherman.library.nova.edu/e-library/index.php?col=n">Databases</a></li> 
				<li><a href="http://atoz.ebsco.com/Search.asp?id=nseu">Journal Finder</a></li>          
				<li><a href="http://nova.edu/library/main/library-instruction.html">Arrange a research consultation with a librarian</a></li>
			</ul>

		</div>

		<div class="sixcol last">
			<h2>Library Services</h2>
			<ul>
				<li><a href="http://www.nova.edu/library/main/library-instruction.html">Arrange library instruction for a class</a></li>
				<li><a href="../help/misc/teacherguides.html">Teacher resources for incorporating database use into the classroom</a> <br></li>
				<li> <a href="http://nova.edu/library/main/ask.html">Ask A Librarian</a></li>
				<li><a href="http://sherman.library.nova.edu/sites/services/circulation">Course Reserves</a></li>
				<li><a href="http://sherman.library.nova.edu/sites/services/electronic-course-reserves-ecr">Electronic Course Reserves</a></li>
				<li><a href="http://nova.campusguides.com/cat.php?cid=20747&amp;gid=104">Course Guides </a></li>
				<li><a href="http://www.nova.edu/cwis/oit/vidlib.html">Search for videos in the NSU Media Library</a> *<br><span class="smallfont"> * a service of NSU Technology Facilities and Media Services</span> </li>
			</ul>

		</div>

	</article>
</div>

<!-- Sidebar
======================
--> <div class="threecol first">
		{% include "sidebar" %}
	</div>

{% endblock %}

{% block breadcrumbs %}
<div class="bread-crumbs"> 
		<ul class="breadbox">
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="http://nova.edu/library/main" itemprop="url">
					<span itemprop="title">Alvin Sherman Library</span>
				</a>
				<span class="arrow"><span>&nbsp;</span></span>
			</li>

			
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="/faculty-and-staff" title="Faculty and Staff Portal">
					<span itemprop="title"> Quick Resources for Faculty and Staff</span>
				</a><span class="arrow"><span>&nbsp;</span></span>
			</li>
			
		</ul><!--/.breadbox-->
	</div>
{% endblock %}

{% block scripts %}{% endblock %}