{% block scopedCSS %}

{{ "home" | asset_url | stylesheet_tag }}

{% endblock %}

{% block bodyClass %}<body class="page-template-default">{% endblock %}

{% block content %}

<div class="ninecol last">
	<article class="page clearfix">
		<header>
			<h1>Resources for Children and Families</h1>
		</header>

		<div class="sixcol first">
			<h2>The Basics</h2>
			<ul>
				<li><a href="http://novacat.nova.edu/selfreg">Get a library card</a></li>
				<li><a href="../serv/pls">Public Library Services</a> - (954)262-5477</li>
				<li><a href="../serv/circulation/winlocalpub.html">Borrowing  privileges</a> </li>
				<li><a href="../about/mapdir.html">How to get here</a> </li>
				<li>Renew your books<a href="https://novacat.nova.edu/patroninfo"> online </a> or <br>call (954)262-4601 </li>
				<li><a href="../serv/reference">Reference</a></li>
				<li><a href="http://www.booksite.com/texis/scripts/bookletter?sid=6706">GoodReads</a></li>
				<li><a href="https://illiad.library.nova.edu/FNN/logon.html">Interlibrary Loan</a></li>
				<li><a href="../help/faqs.html">Printing/photocopying</a></li>	
			</ul>

			<h2>Getting Help</h2>
			<ul>
				<li><a href="../help/libtraining.html">Let us show you</a> how to use our resources. </li>
				<li><a href="http://nova.campusguides.com/index.php?gid=104">Find a Library Guide</a> to aid you in your research. </li>
				<li>Technical difficulties with our online systems or databases? <a href="../help/techhelp.html">Here's  some guidance</a>... </li>
				
			</ul>
		</div>
		
		<div class="sixcol last">
			<h2>Doing Research</h2>
			<ul>
							<li><a href="http://novacat.nova.edu/search%7ES2">Search the Children's Collection in NovaCat</a>(NSU catalog)</li>
							<li><a href="../eleclib/othercatalogs.html">Other catalogs</a></li>
							<li><a href="http://sherman.library.nova.edu/e-library/index.php?col=p"> Databases</a><br>(see the special K-12 list)</li>
							
							<li><a href="http://www.flelibrary.org/">Florida Electronic Library</a> - Magazine/Journal/Newspaper Articles (some Full Text), and more.                     (for Florida residents) </li>
							<li><a href="http://atoz.ebsco.com/Search.asp?id=nseu">Journal Finder</a> - Find full-text journals by title.                </li>
							<li><a href="../eleclib/eref.html">Quick e-reference</a> - free and useful look-up tools in all areas.</li>
						</ul>
		</div>

	</article>
</div>

<!-- Sidebar
======================
--> <div class="threecol first">
		{% include "sidebar" %}
	</div>

{% endblock %}

{% block breadcrumbs %}
<div class="bread-crumbs"> 
		<ul class="breadbox">
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="http://nova.edu/library/main" itemprop="url">
					<span itemprop="title">Alvin Sherman Library</span>
				</a>
				<span class="arrow"><span>&nbsp;</span></span>
			</li>

			
			<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="/public" title="Broward County Patrons">
					<span itemprop="Broward County Patrons"> Quick Resources for Broward County Patrons</span>
				</a><span class="arrow"><span>&nbsp;</span></span>
			</li>
			
		</ul><!--/.breadbox-->
	</div>
{% endblock %}

{% block scripts %}{% endblock %}