/* ==================
 * $FORMS
 * ================== */
/* ==================
 * 
 */
header .search {
  display: inline-block;
  float: right;
  margin-top: 3px; // magic

  input[type="search"] {
    border-radius: 4px 0 0 5px;
    border-style :none;
    color: #454545;
    min-height: 36px;
    padding: 0 .25em;
    margin-right: -5px;
  }

  input[type="submit"] {
    background-color: #f2f2f2;
    border-radius: 0 5px 5px 0;
    border-style: none;
    color: #555;
    min-height: 36px;
    margin-top: 10px;
  }
}