.menu {

  ul { 
    list-style-type: none; 
  }

}

/* ==================
 * Sub-Menu */
.menu .has-subnav > .sub-menu {
  position: absolute;
}

.js .has-subnav > .sub-menu {
  display: none;
}

.pill-menu {

  & > ul > li { display: inline-block; }
  .primary > .label,
  .secondary > .label {
    @include css-transition(all, .2s, ease-out);    
    cursor: pointer;
    padding: .5em;
    position: relative;
  }

  .primary > .label {
    border-radius: 5px 0 0 5px;
  }


  .primary > .label:after {          
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 18px solid $light-blue-object; // TODO: Abstract This  
      content: "";    
      right: -1em;
      top: 0;
      position: absolute;  
      z-index: 1;
  }

  .secondary {}

  .secondary > .label {
    border-radius: 0 5px 5px 0;
    margin-left: -.5em;
    padding-left: 25px;
  }

  .secondary > .label:before {
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 18px solid $header-background;  
        content: "";        
        height: 0; 
        left: 0;
        top: 0;
        position: absolute;        
        width: 0;  
        z-index: 0;
  }

  input[id="primary-menu"]:checked ~ .sub-menu,
  input[id="secondary-menu"]:checked ~ .sub-menu {
    display: block;
  }

}

@-moz-document url-prefix() {
  .pill-menu .primary > .label:after {
    right: -.7em;
  }
  .pill-menu .secondary > .label {
    margin-left: 0;
  }
}


/* ==================
 * Browse List 
 */ // Presumes wp_list_categories() without title LI;

.browse-subjects {
  padding: 0;

  li { list-style-type: none; }

  & > .cat-item { margin-bottom: 1em; }
  & > .cat-item > a { font-size: 1.3333em; }

  .cat-item {

    a { text-decoration: none; }
    
    .children { padding: 0; }
    .children li {
      display: inline-block;
      width: 32%;
    }
  }
}