/* ==================
 * $SERIES
 */
.feature {
	background-color: $dark-blue-base;
	border-top: 2px solid white;
	min-height: 300px;

	&.series {
		padding-bottom: 2em;
		padding-top: 2em;

		.second-in-series { margin-top: 1em; }
		.third-in-series { margin-top: 2em; }
	}
}